<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    {% stylesheets '@bootstrap_css_map' '@bootstrap_css' '@fileinput_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <title>{% block title %}Catalog{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


</head>
<body>
{% block body %}
{% endblock %}

{% javascripts '@jquery' '@bootstrap_js'
'@canvas_to_blob_plugin_js' '@sortable_plugin_js'
'@purify_plugin_js' '@fileinput_js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script src="{{ asset('bundles/catalog/js/grid_plugin.js') }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
