{% extends 'base.html.twig' %}

{% block body %}
    <div style="height: 100px;"></div>
    <div class="container">
        {#<label class="control-label">Select File</label>#}
        {#<input id="input-1" type="file" class="file">#}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}