{% extends 'base.html.twig' %}

{% block body %}
    <div style="height: 100px;"></div>
    <div class="container">
        <h1>TEST</h1>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/catalog/js/grid_plugin.js') }}"></script>
{% endblock %}