{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/catalog/css/css.css') }}">
{% endblock %}

{% block body %}
    <div style="height: 100px;"></div>

    <div class="container">
        <div class="row">
            <div id="grid-table"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('bundles/catalog/js/grid_plugin.js') }}"></script>#}
    <script>
        $('#grid-table').gridPlugin({
            bug: '/user/',
            rootURL: 'http://catalog.com',
            apiURL: 'http://catalog.com/api/users',
            sortableColumn: 'id',
            itemsPerPage: 5,
            page: 1,
            direction: 0
        });
    </script>
{% endblock %}