{% extends "base.html.twig" %}

{% block body %}
    <div style="height: 200px;"></div>
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-danger" style="font-size: 16px;">
                    <b>
                        {{ flash_message }}
                    </b>
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}