{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/catalog/css/main/main-page.css') }}">
{% endblock %}

{% block body %}
    <h1>Главная страница доступная всем</h1>
{% endblock %}
