html,body {
    height: 100%;
}

.testclass {
    /*height: 659px;*/
    height: 100%;
    overflow-y: scroll;
    background-color: #44565a;
    float: left;
    width: 20%;
}

.testclass2 {
    float: right;
    overflow-y: scroll;
    color: #008080;
    height: 100%;
    width: 80%;
    background-color: #FFFFFF;
}

td a {
    text-decoration: none;
    display: block;
}

.brand-decor {
    font-size: 28px !important;
    color: #009999 !important;
    text-shadow: 2px -2px 0 #008080;
}

.affix {
    top: 0;
    width: 100%;
}

.row {
    margin: 0 !important;
}

.similar-products {
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.similar-products-header {
    text-align: center;
    font-size: 28px;
    line-height: 55px;
}